body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.list {
  width: 100%;
}

.item {
  margin: auto;
  border: 1px solid lightgray;
  border-top: none;
  width: 270px;
  padding: 5px;
  text-align: left;
}

.inputBar {
  width: 268px;
  padding: 5px;
}

.fa-times {
  color: lightgray;
  float: right;
  visibility: hidden;
  cursor: pointer;
}